body {
    /* I like Iosevka for programming and JetBrains to look at. */
    font-family: 'JetBrains Mono', monospace;
    /* font-weight: 700; */
    margin: 0 auto;
    max-width: 700px;
    /* padding: top left/right bottom */
    padding-top: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align: center;
    font-size: x-small;
}

figure {
    margin: 1.5rem auto;
    text-align: center;
}

p {
    text-align: left;
    line-height: 1.6;
}

img {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;        /* Necessary for margin auto to center properly */
    margin: 0 auto;
    object-fit: cover;  /* Prevents stretching, keeps original shape */
    /* aspect-ratio: 1 / 1; */
}

#nasa-container {
    display: block;
    margin: 1.5rem auto;
    text-align: center;
}

/* Square output of nasa api, be that video or image */
#nasa-container img,
#nasa-container video,
#nasa-container iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; /* CLean wrap around the desired box */
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

@media (orientation: portrait) {
    body {
        padding-top: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        max-width: 350px;
    }
    img {
        max-width: 200px;
        width: 100%;
        height: auto;
    }
}
