body {
    /* I like Iosevka for programming and JetBrains to look at. */
    font-family: 'JetBrains Mono', monospace;
    /* margin : top right bottom left AUTO horizontally centers it in respects to parent container*/
    margin: 0 auto;
    max-width: 250px;
    /* padding: top left right bottom */
    font-size: 0.8rem;
    text-align: justify;
    /* text-align: center; */
    word-wrap: break-word;
    background: #000000;
    color: #ffffff;
    animation: blurred 0.4s ease-out;
}

p {
    padding-top: 3%;
}

@keyframes blurred {
from { transform: scale(1.2); filter: blur(8px); }
}

html {
    scrollbar-width: none;        /* Firefox, and Chrome/Edge 121+ */
}
html::-webkit-scrollbar {
    display: none;                /* Safari and older Chrome/Edge */
}

::-moz-selection { /* Code for Firefox */
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

#header {
    font-weight: 800; 
    font-size: xx-large; 
    text-align: center;
    margin-bottom: 0; 
    margin-top: 12vh;
    margin-top: 12svh;
}

a {
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: #ffffff;
}
/* visited link */
a:visited {
    color: #ffffff;
}
/* mouse over link */
a:hover {
    background: #ED1C24;
    color: #ffffff
}
/* selected link */
a:active {
    color: #ffffff;
}

figure {
    margin: 1.5rem auto;
}

img {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;        /* Necessary for margin auto to center properly */
    margin: 0 auto;
    object-fit: cover;  /* Prevents stretching, keeps original shape */
    /* aspect-ratio: 1 / 1; */
}

#nasa-container {
    display: block;
    margin: 1.5rem auto;
    text-align: center;
}

/* Square output of nasa api, be that video or image */
#nasa-container img,
#nasa-container video,
#nasa-container iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; /* CLean wrap around the desired box */
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}

@media (orientation: portrait) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 400px;
        font-size: 0.8rem;
        animation: blurred 0.3s ease-out;
    }
    img {
        max-width: 350px;
        width: 100%;
        height: auto;
    }
    #header {
        margin-top: 15vh;
        margin-top: 15svh;
    }
}

@media screen and (min-width: 1920px) {
    body {
        margin-top: 15vh;
        margin-top: 15svh;
        font-size: x-large;
        max-width: 350px;
    }
    #header {
        font-size: 5rem;
        margin-top: 10vh;
        margin-top: 10svh;
    }
}
